ul.games-list {
    padding: 0 5px;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

.game {
    background: $color-one;
    &:nth-of-type(odd) {
        background: $color-two;
        color: white;
    }
    
    border-radius: 10px;
    margin: 20px 0;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__info {
        order: 0;
        width: 100%;
        margin-bottom: 15px;
    }
    &__team {
        flex: 0 0 45%;
        max-width: 45%;
        order: 1;
        &:last-of-type {
            order: 3;
        }
        h4 {
            font-size: 1.6em;
        }
        span {
            font-size: 0.825em;
        }
        img {
            max-width: 40px;
        }
    }
    &:before {
        content: "x";
        flex: 0 0 10%;
        max-width: 10%;
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5em;
        padding-bottom: 30px;
    }
}